name: Deploy to production

on:
  push:
    branches: [ main ]

jobs:

  build:
    name: Build image
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Login to aliyun
      uses: aliyun/acr-login@v1
      with:
        login-server: "${{ secrets.REGISTRY }}"
        username: "${{ secrets.REGISTRY_USERNAME }}"
        password: "${{ secrets.REGISTRY_PASSWORD }}"

    - name: Build and push image
      env:
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t ${{ secrets.REGISTRY }}:$IMAGE_TAG .
        docker push ${{ secrets.REGISTRY }}:$IMAGE_TAG

